$fontFamily: 'Open Sans', sans-serif;
$fontSize: 14px;
$linksColor: #1c7c6c;
$transitionSpeed: 0.3s;
$linksOpacity: 0.8;
// Mean Menu
$fontLight: 300;
$fontRegular: 400;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$footerHeight: 241px;
$activeColor: #000;
$bodyColor: #000;