.filters-accordion {
    .filters-label                                      { font-weight: bold; font-size: 24px; margin-bottom: 30px; }

    .transition,
    .filter > .content,
    ul li i:before,
    ul li i:after                                       { transition: all 0.25s ease-in-out; }

    .filters-label {
        &                                               { text-transform: uppercase; position: relative; }
        span                                            { display: block; background: #26aa94; color: #fff; font-weight: normal; font-size: 20px; letter-spacing: 2px; text-align: center; padding: 20px; }
        @media screen and ( max-width: 991px ) {
            span                                        { text-align: left; }
        }
    }

    ul                                                  { list-style: none; padding: 0; margin: 0; }
    ul li                                               { position: relative; padding: 0; margin: 0; padding: 15px 0; }
    ul li:first-child                                   { border-top: 0; }

    ul li:last-of-type                                  { padding-bottom: 0; }
    ul li i                                             { color: $activeColor; transform: translate(0, 0) rotate(-180deg); transition: 0.5s; padding-left: 1px; }

    @keyframes flipdown {
        0%                                              { opacity: 0; transform-origin: top center; transform: rotateX(-90deg); }
        5%                                              { opacity: 1; }
        80%                                             { transform: rotateX(8deg); }
        83%                                             { transform: rotateX(6deg); }
        92%                                             { transform: rotateX(-3deg); }
        100%                                            { transform-origin: top center; transform: rotateX(0deg); }
    }
    
    .filter {

        & > input[type=checkbox].status                 { position: absolute; cursor: pointer; width: 100%; height: 100%; z-index: 1; opacity: 0; top: 0; display: inline; }

        & > input[type=checkbox].status:checked ~ .content      { margin-top: 0; max-height: 0; opacity: 0; }

        & > input[type=checkbox].status:checked ~ .arrow > i     { transform: translate(0, 0) rotate(0deg); transition: 0.5s; color: $bodyColor; }
        & > .title                                      { font-weight: bold; text-transform: uppercase; display: block; margin: 0; cursor: pointer; }
        & > .content                                    { position: relative; overflow: hidden; max-height: 800px; opacity: 1; transform: translate(0, 0); margin-top: 14px; z-index: 2; }
        ul li                                           { border-top: 0; padding: 10px 0; }
        & > .content {
            input[type=checkbox]                        { margin-right: 10px; }
            .option { padding-right: 50px; }
            .count { position: absolute; top: 8px; right: 0; }
            & { position: relative; }
        }
        
        &.sizes, &.colors {
            ul {
                &                                       { margin-left: -5px; }
                li {
                    &                                   { display: inline-block; margin: 5px; padding: 0; }
                    a                                   { color: #9f9f9f; padding: 4px 6px; border: 1px solid #ebebeb; box-sizing: border-box; display: block; border-radius: 3px; }
                    a:hover                             { color: $activeColor; border-color: $activeColor; transition: $transitionSpeed; }
                    &.active {
                        a                               { color: $bodyColor; border-color: $activeColor; }
                    }
                }
            } 
        }

        &.colors {
            ul {
                li {
                    .color                              { width: 25px; height: 20px; border-radius: 3px; border: 1px solid #ebebeb; }
                }
            }
        }
        &.price {
            .range {
                input                                   { width: 70px; text-align: center; }
            }
            .range                                      { margin: 15px 0; }


            #priceRange                                 { margin: 10px 16px; }
            
        }
    }

    .arrow { padding: 7px 9px; position: absolute; right: 0; border: 1px solid #e6e6e6; top: 0; }
}

.noUi-horizontal .noUi-handle {
    &                                                   { background: $linksColor; border: 1px solid $linksColor; box-shadow: 0 0 3px rgba(51,51,51,.45); width: 34px; height: 34px; border-radius: 17px; top: -9px; }
    &:hover                                             { cursor: pointer; }
}
.noUi-handle:after, .noUi-handle:before                 { top: 9px; background: $linksColor; }
.noUi-connect                                           { background: $linksColor; }
.filters-reset {
    & { text-align: center; margin: 30px 0; }
}
.noUi-horizontal {
    &                                                   { height: 3px !important; }
    .noUi-handle {
        &:before                                        { content: none; }
        &:after                                         { content: none; }
        &                                               { width: 20px !important; height: 20px !important; }
    }
}
.noUi-target {
    & { border-color: transparent !important; }
    .noUi-background                                    { box-shadow: inset 0 1px 1px #bababa !important; }
}
.noUi-horizontal .noUi-handle                           { left: -16px !important; top: -10px !important; }
.noUi-base                                              { background: #bababa; }
#showHideFilter                                         { position: absolute; right: 20px; top: 16px; color: #fff; }

