.one-level-menu {
	& 														{ padding: 0; }
	.menu-widescreen {
		& 													{ background: #000; }
		&.home 												{ background: #666; }
		ul 													{ text-align: center; margin-left: 6px; }
		& 													{ padding: 0; }
		ul > li 											{ float: left; border-left: 1px solid #929292;  font-size: 10px; }
		ul > li:last-child 									{ border-right: 1px solid #929292; }
		li > a 												{ color: #fff; text-decoration: none; text-transform: uppercase; padding: 15px 29px; display: block; font-size: 16px; }
		li > a:hover 										{ background: #26aa94; }
		@media screen and ( max-width: 1306px ) {
			a 												{ padding-left: 28px !important; padding-right: 28px !important; }
		}
		@media screen and ( max-width: 1289px ) {
			a 												{ font-size: 15px !important; }
		}
		@media screen and ( max-width: 1250px ) {
			a 												{ font-size: 14px !important; }
		}
		@media screen and ( max-width: 1200px ) {
			a 												{ font-size: 13px !important; }
		}
		@media screen and ( max-width: 1150px ) {
			a 												{ font-size: 12px !important; }
		}
		@media screen and ( max-width: 1100px ) {
			a 												{ font-size: 11px !important; }
		}
		@media screen and ( max-width: 1050px ) {
			a 												{ font-size: 10px !important; }
		}
	}
}
.menu-smallscreen {
	.cart-wrapper {
		& 													{ width: 60px; position: absolute; top: -16px; right: 15px; border: 0; }
		.cart 												{ text-align: right; }
		.count 												{ right: -10px; }
	}
	.menu-btn {
		& 													{ position: absolute; left: 39px; font-size: 25px; }
		i 													{ color: #666; }
	}

	/* The Overlay (background) */
	.overlay {
	    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
	    height: 100%;
	    width: 0;
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    left: 0;
	    top: 0;
	    background-color: rgb(0,0,0); /* Black fallback color */
	    background-color: rgba(0,0,0, 0.5); /* Black w/opacity */
	    overflow-x: hidden; /* Disable horizontal scroll */
	    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
	}

	.overlay-content {
		.items {
			& 												{ width: 260px; background: #fff; float: left; }
			.search {
				input 										{ border: 0; outline: 0; padding: 19px 0; width: 190px; font-size: 16px; }
				button 										{ background: 0; border: 0; }
				button i 									{ font-size: 16px; }
			}
			nav {
				& 											{ background: #000; }
				ul > li > a 								{ font-size: 16px; font-weight: $fontSemiBold; text-transform: uppercase; color: #fff; padding: 15px; line-height: 24px; }
				a:hover 									{ background: #26aa94; color: #fff; }
			}
		}
		.close-menu {
			& 												{ background: #fff; float: left; margin-left: 1px; }
			a 												{ font-size: 32px; color: #26aa94; padding: 14px 20px; font-weight: 100; }
		}
		.acc 												{ width: 100%; border-left: 0; border-bottom: 1px solid #ccc; padding: 20px 0; }
		.phones 											{ margin: 20px; }
		.callback 											{ margin-bottom: 30px; }
	}

	/* The navigation links inside the overlay */
	.overlay a {
	    text-decoration: none;
	    display: block; /* Display block instead of inline */
	}
}




