.no-gutter > [class*='col-'] 					        { padding-right: 0; padding-left: 0; }
.wrapper                                                { max-width: 1290px; margin: 0 auto; min-width: 320px; }
html 													{ height: 100%; }
body 													{ height: inherit; font-family: $fontFamily; font-size: $fontSize; color: #000; }
.fleft 													{ float: left; }
.fright 												{ float: right; }
a 														{ color: $linksColor; text-decoration: underline; font-weight: 600; transition: $transitionSpeed; }
a:hover 												{ color: $linksColor; text-decoration: none; transition: $transitionSpeed; opacity: $linksOpacity; }
.mt15 													{ margin-top: 15px; margin-bottom: 15px; }
.tcenter 												{ text-align: center; }
.w100ps 												{ width: 100%; }
.m0 													{ margin: 0; }
.p0 													{ padding: 0; }
b, strong 												{ font-weight: bold; }
.main-wrapper 											{ height: auto !important; min-height: 100%; }
.footer-reserved 										{ height: $footerHeight; }
.btn 													{ display: inline-block; text-transform: uppercase; border: 1px solid #1c7c6c; padding: 10px 25px; text-decoration: none; font-size: 18px; border-radius: 40px; }
.display-block 											{ display: block; }
.mfp-close-btn-in .mfp-close:hover 						{ color: #1c7c6c; }
button.btn 												{ background: transparent; color: #1c7c6c; outline: none; }
button.btn:hover 										{ transition: $transitionSpeed; opacity: $linksOpacity; }

.catalog-to-top {
	& 													{ margin-top: -15px; }
	@media (max-width: 1199px) {
		& 												{ margin-top: 0; }
	}
}

header {
	a.logo 												{ outline: 0; }
	i 													{ color: #b3b3b3; }
	.search {
		& 												{ font-size: 0; }
		& > button 										{ background: none; border: 0; color: #b3b3b3; border: 1px solid #b3b3b3; border-left: 0; padding: 10px 15px 8px; }
		input, button 									{ display: inline-block; font-size: $fontSize; }
		& > input 										{ font-size: 13px; padding: 8px 8px 6px; border: 1px solid #b3b3b3; }
		input { width: 280px; }
		@media screen and ( max-width: 1200px ) {
			input 										{ width: 168px; }
		}
	}
	a.tel 												{ color: #808080; text-decoration: none; }
	a.tel i 											{ padding-right: 5px; }
	.phones {
		& 												{ margin: 9px 0; }
		a 												{ font-size: 13px; font-weight: 400; }
		i 												{ font-size: 16px; }
	}
	.phones, .callback 									{ display: inline-block; }
	.callback 											{ margin-left: 20px; }
	.callback a 										{ font-weight: 600; color: #26aa94; border: 1px solid #26aa94; border-radius: 15px; padding: 8px 15px; font-size: 12px; text-decoration: none; }
	.callback a:focus 									{ outline: none; }
	.acc-col 											{ padding-right: 0; }
	.acc, .cart 										{  vertical-align: top; text-align: center; }
	.acc {
		& 												{ display: inline-block; padding: 26px 0; width: 54%; min-width: 89px; border-left: 1px solid #e6e6e6; }
		i 												{ padding-right: 5px; }
		a 												{ color: #808080; text-decoration: none; font-weight: 400; }
	}
	.cart-wrapper 										{ padding: 7px 0; width: 44%; display: inline-block; text-align: center; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; min-width: 69px; }
	.cart {
		& 												{ outline: none; padding: 14px 0; position: relative; display: block; }
		i 												{ font-size: 24px; }
		.count 											{ background: #26aa94; color: #fff; position: absolute; top: 20%; right: 20%; padding: 1px 6px; border-radius: 5px; font-size: 10px; font-weight: 600; }
	}
	.cart-wrapper.mobile 								{ width: 10px; position: absolute; right: 0; border: 0; }
}

#bannersSlider {
	.slide {
		& 												{ position: relative; }
		.text {
			& 											{ width: 550px; position: absolute; left: 10%; top: 60px; padding: 0 20px; }
			@media screen and ( max-width: 960px ) {
				& 										{ width: 100%; left: auto; text-align: center; }
			}
			.title 										{ font-size: 60px; font-weight: $fontExtraBold; margin-bottom: 45px; line-height: 75px; }
			@media screen and ( max-width: 520px ) {
				.title 									{ font-size: 50px; }
			}
			.paragraph 									{ font-size: 16px; font-weight: $fontSemiBold; line-height: 28px; margin-bottom: 70px; }
			@media screen and ( max-width: 960px ) {
				.paragraph 								{ margin-bottom: 35px; }
			}
			a 											{ padding: 10px 30px; background: #26aa94; color: #fff; text-decoration: none; border-radius: 20px; font-size: 16px; letter-spacing: 1px }
		}
		.img 											{ height: 570px; background-repeat: no-repeat; background-position: center; background-size: cover; }
	}
}


.slider-controls.button 								{ width: 50px; height: 50px; border: 1px solid #394a47; border-radius: 50px; width: 50px; height: 50px; border: 1px solid #394a47; border-radius: 50px; font-size: 40px; padding-top: 2px; cursor: pointer; display: block; color: #394a47; display: inline-block; background: #fff; }
.slider-controls.button:hover 							{ background: #26aa94; border-color: #26aa94; color: #fff; }
.slider-controls.button.left 							{ padding-left: 14px; }
.slider-controls.button.right 							{ padding-left: 17px; }

.banners {
	& 													{ position: relative; }
	.slider-controls.button 							{ position: absolute; top: 48%; }
	.slider-controls.button.left 						{ left: 3%; }
	.slider-controls.button.right 						{ right: 3%; }
}

.lSSlideOuter 											{ position: relative; }
.lSPager {
	& 													{ position: absolute; bottom: 50px; width: 100%; }
	& > li > a 											{ width: 15px !important; height: 15px !important; border: 1px solid #858585; background-color: #fff !important; }
	& > li.active > a 									{ background-color: #26aa94 !important; border-color: #26aa94; }
	@media screen and ( max-width: 960px ) {
		& 												{ bottom: 30px; }
	}
}

.content {
	& 													{ line-height: 20px; }
	.custom-block-1 {
		.title 											{ margin-top: 0; }
		.description 									{ margin-bottom: 20px; }
		a.more 											{ display: inline-block; margin-bottom: 30px; }
	}
	.custom-block {
		& 												{ margin: 30px 0; }
		img.title-image 								{ width: 100%; height: auto; }
		.title a 										{ color: #000; font-weight: inherit; }
	}
	.title 												{ margin-top: 30px; font-size: 22px; font-weight: $fontBold; text-transform: uppercase; text-decoration: underline; margin-bottom: 30px; }
	.custom-block-2 {
		& 												{ background: #f2f2f2; margin: 0; padding: 45px 0; }
		.title 											{ margin-top: 0; }
	}

	.quote {
		& 												{ margin: 30px 0;  }
		.quotes, .phrase 								{ display: inline-block; }
		.quotes 										{ width: 3%; vertical-align: top; font-size: 60px; color: #8ccec3; padding-top: 13px; }
		.phrase 										{ width: 95%; font-weight: $fontLight; }
		@media screen and ( max-width: 700px ) {
			.quotes 									{ width: 8%; }
			.phrase 									{ width: 90%; }
		}
		.author 										{ font-weight: bold; text-align: right; padding-top: 10px; }
	}
	.homeProducts, .similarProducts {
		.products-cards {
			& 											{ background: #f2f2f2; position: relative; }
			.item 										{ margin: 40px auto; }
		}
		.head {
			.switches {
				& 										{ margin-top: 32px; }
				a 										{ text-decoration: none; color: #000; margin-right: 10px; border: 1px solid transparent; padding: 5px 15px; border-radius: 20px; }
				a:last-child 							{ margin-right: 0; }
				a.active 								{ color: #26aa94; border-color: #26aa94; }
				@media screen and ( max-width: 380px ) {
					& 									{ font-size: 12px; }
					a 									{ margin-right: 0; padding: 5px 7px; }
				}
			}
		}
		.lSPager { bottom: 0; }
		.slider-controls.button 						{ position: absolute; top: 42%; background: #808080; border-color: #808080; color: #fff; }
		.slider-controls.button:hover 					{ background: #26aa94; border-color: #26aa94; color: #fff; }
		.slider-controls.button.left 					{ left: 1%; }
		.slider-controls.button.right 					{ right: 1%; }
	}
	.products-cards {
		& 												{ min-height: 549px; }
		.item {
			& 											{ text-align: center; position: relative; width: 291px; box-sizing: border-box; border: 1px solid transparent; box-shadow: 5px 5px 15px rgba(0,0,0,0.1); background: #fff; }
			.label 										{ width: 68px; height: 26px; background: url("../img/label.png") no-repeat center; position: absolute; top: 20px; right: -11px; color: #fff; font-size: 12px; text-align: center; }
			.image 										{ width: 100%; border-bottom: 1px solid #d9d9d9; margin-bottom: 20px; }
			.title 										{ font-size: 18px; line-height: normal; text-decoration: none; text-transform: none; margin: 0 0 20px 0; }
			.availability {
				& 										{ margin-bottom: 20px; }
				.available 								{ color: #26aa94; }
				.not-available 							{ color: #d90000; }
				.on-the-way 							{ color: #175cce; }
			}
			.price 										{ font-size: 28px; font-weight: $fontBold; margin-bottom: 30px; }
			.btn-buy {
				& 										{ margin-bottom: 30px; padding: 5px 25px; border-radius: 15px; display: inline-block; font-size: 18px; font-weight: $fontSemiBold; text-transform: uppercase; text-decoration: none; color: #26aa94; border: 1px solid #26aa94; }
				&:hover 								{ background: #26aa94; color: #fff; }
			}
		}
		.item:hover 									{ outline: 1px solid #b3b3b3; }
	}
	.map {
		&, .textwidget 									{ height: 360px; }
		iframe 											{ width: 100%; height: 100%; }
	}

	.view-params {
		& 												{ margin-top: 40px; margin-bottom: 30px; }
		.sorting {
			& 											{ float: left; }
			select                                      { border: 1px solid #000; }

		}
		.perPage 										{ float: right; }
		@media screen and ( max-width: 600px ) {
			.sorting, .perPage 							{ float: none; text-align: center; margin: 10px 0; }
		}
	}
}

.breadcrumbs {
	& 													{ padding: 20px 0; box-shadow: 0 5px 15px rgba(0,0,0,0.1); margin-bottom: 15px; }
	ul > li {
		& 												{ display: inline-block; color: #b2b2b2; }
		a 												{ color: #b2b2b2; text-decoration: none; }
		a:hover 										{ color: #26aa94; }
		span 											{ color: #26aa94; }
	}
}
.breadcrumbs.smallscreen {
	& 													{ margin-bottom: 0; padding: 0; border: 1px solid #e6e6e6; border-left: 0; border-right: 0; box-shadow: none; }
	a.back {
		& 												{ display: inline-block; padding: 19px; border-right: 1px solid #e6e6e6; color: #bfbfbf; font-size: 20px; }
		&:hover 										{ color: #26aa94; }
	}
	span 												{ font-weight: bold; padding-left: 15px; }
}

.catalog {
	.tile { margin: 0 auto; }
	@media screen and ( max-width: 1288px ) {
		.tile 											{ width: 640px; }
	}
	@media screen and ( max-width: 991px ) {
		.tile 											{ width: 963px; }
	}
	@media screen and ( max-width: 966px ) {
		.tile 											{ width: 640px; }
	}
	@media screen and ( max-width: 644px ) {
		.tile 											{ width: 291px; }
	}
	.products-cards {
		& 												{ margin-left: -25px; }
		.item 											{ display: inline-block; margin-left: 27px; margin-bottom: 30px; }
	}
}

.page-pagination {
	& 													{ margin-bottom: 30px; }
	.info, .pagination 									{ margin: 30px 0; }
	.pagination {
		& 												{ text-align: right; }
		a, span											{ display: inline-block; margin: 0 5px; padding: 3px 9px; }
		a 												{ text-decoration: none; }
		a:hover 										{ outline: 1px solid $linksColor; }
	}
	@media screen and ( max-width: 767px ) {
		.pagination 									{ text-align: center; }
	}
}

footer {
	.menu {
		& 												{ background: #000; color: #fff; text-align: center; }
		ul 												{ font-size: 0; line-height: 0; letter-spacing: -1px; }
		ul > li {
			& 											{ display: inline-block; border-left: 1px solid #929292; }
			&:last-child 								{ border-right: 1px solid #929292; }
			a 											{ display: inline-block; text-decoration: none; color: #fff; text-transform: uppercase; font-weight: $fontSemiBold; font-size: 16px; padding: 20px 30px; }
			a:hover 									{ background-color: #26aa94; }
		}
		@media screen and ( max-width: 990px ) {
			li 											{ border-left: 0 !important; display: block !important; }
			a 											{ width: 100%; }
		}
	}
	.contacts {
		& 												{ background: #394a47; color: #fff; padding: 30px 0; line-height: 24px; }
		i 												{ padding-right: 5px; }
		@media screen and ( max-width: 990px ) {
			& 											{ text-align: center; }
			.item 										{ padding: 20px 0; }
			.item:first-child 							{ border-bottom: 1px solid #5d6564; }
		}
		a 												{ color: #fff; text-decoration: none; font-weight: normal; }
	}
	.copyright 											{ background: #000; color: #fff; font-size: 14px; padding: 20px; text-align: center; }
}

.product-page {
	.head.title 										{ text-decoration: none; }
	.product-photos {
		& 												{ border: 1px solid #b3b3b3; position: relative; margin-bottom: 30px; width: 100%; }
		ul > li.photo img 								{ width: inherit; }
		ul.lSPager {
			& 											{ position: inherit; padding-top: 3px; top: 0; }
			li 											{ outline: 1px solid #b3b3b3; }
			li > a 										{ border: 0; }
			li.active 									{ border-top: 3px solid #26aa94 !important; margin-top: -3px; border-radius: 0; }
			li:hover 									{ border-radius: 0; }
		}
		.slider-controls {
			& 											{ position: absolute; bottom: 52px; background: #808080; color: #fff; border-color: #a7a6a6; }
			&:hover 									{ background: #26aa94; border-color: #26aa94; opacity: 1; }
			&.left 										{ left: 20px; }
			&.right 									{ right: 20px; }
		}
		.discount 										{ width: 70px; height: 70px; text-align: center; color: #fff; padding-top: 24px; background: #26aa94; position: absolute; border-radius: 70px; font-size: 24px; font-weight: bold; top: 30px; right: 30px; }
	}
	.details-wrapper 									{ margin-bottom: 30px; }
	.details {
		& 												{ border: 1px solid #b3b3b3; padding: 0 30px; }
		.title 											{ text-transform: none; text-decoration: none; color: #333333; line-height: normal; }
		.colors {
			& 											{ margin-right: 40px; margin-bottom: 10px; }
			.item {
				& 										{ border: 1px solid transparent; display: inline-block; padding: 2px; border-radius: 15px; margin-right: 5px; }
				&:hover 								{ cursor: pointer; }
				&.active 								{ border-color: #2cac97; }
				.color 									{ padding: 3px; width: 15px; height: 15px; border-radius: 15px; }
			}
			.all-colors {
				& 										{ display: inline-block; vertical-align: top; }
				a 										{ color: #b2b2b2; display: inline-block; }
			}
		}
		.colors, .reviews-count 						{ display: inline-block; vertical-align: top; }
		.reviews-count 									{ color: #b2b2b2; }
		.price {
			& 											{ margin: 30px 0; }
			.current, .old 								{ display: inline-block; }
			.current 									{ font-weight: bold; font-size: 30px; margin-right: 30px; margin-bottom: 10px; }
			.old 										{ font-size: 18px; color: #959595; text-decoration: line-through; }
			@media screen and ( max-width: 420px ) {
				.current 								{ margin-right: 15px; font-size: 26px; }
				.old 									{ font-size: 16px; }
			}
		}
		.text 											{ margin-bottom: 30px; line-height: 26px; }
		.buy {
			& 											{ margin-bottom: 35px; }
			a.btn 										{ background: #26aa94; color: #fff; border-color: #26aa94; }
		}
	}
	.other-details {
		& 												{ border: 1px solid #b3b3b3; border-top: 0; padding: 30px; }
	}
	.description, .additional-info {
		& 												{ padding: 40px; border: 1px solid #b3b3b3; }
		.title 											{ text-decoration: none; margin-top: 0; }
		.content {
			p 											{ padding: 15px 0; }
		}
	}
	.additional-info {
		& 												{ border: 0; padding: 0; margin: 40px 0; }
	}
}

.cart-body {
	// Responsive table
	$breakpoint-alpha: 680px;
	.rwd-table {
		& 												{ margin: 15px 0 30px; }
		th 												{ display: none; }
		td {
			& 											{ display: block; }
			&:first-child 								{ padding-top: .5em; }
			&:last-child 								{ padding-bottom: .5em; }
			&:before {
				& 										{ font-weight: bold; width: 6.5em; display: inline-block; }
				@media (min-width: $breakpoint-alpha) {
					& 									{ display: none; }
				}
			}
		}
		th, td {
			& 											{ text-align: left; }
			@media (min-width: $breakpoint-alpha) {
				& 										{ display: table-cell; padding: .25em .5em; }

				&:first-child 							{ padding-left: 0; }
				&:last-child 							{ padding-right: 0; }
			}

		}
	}
	// Custom styles
	.head 												{ font-size: 20px; font-weight: bold; }
	.rwd-table {
		& 												{ width: 100%; }
		tr:first-child 									{ border-bottom: 1px solid #26aa94; }
		th 												{ background: #e6e6e6; padding: 20px 7px; font-size: 16px; line-height: normal; }
		th:first-child 									{ padding-left: 20px; }
		.photo 											{ max-width: 125px; }
		td 												{ vertical-align: middle; }
		.name 											{ font-size: 18px; line-height: normal; }
		.old-price 										{ color: #808080; text-decoration: line-through; margin-bottom: 15px; }
		.price 											{ font-size: 18px; font-weight: bold; }
		.quantity {
			& 											{ text-align: center; font-size: 0; min-width: 93px; }
			.inc, .dec, .number 						{ display: inline-block; font-size: 14px; }
			.inc, .dec 									{ border: 1px solid #b3b3b3; }
			.number 									{ outline: 1px solid #b3b3b3; padding: 10px; font-weight: bold; }
			a 											{ padding: 10px; display: block; text-decoration: none; color: #999999; font-weight: bold; }
			a:hover 									{ color: #1c7c6c; }
		}
		.amount 										{ font-weight: bold; font-size: 18px; }
		.remove {
			a 											{ display: block; width: 28px; font-size: 28px; color: #818181; text-decoration: none; font-weight: 100; transition: 0s;  }
			a:hover 									{ color: #1c7c6c; }
		}
		.total .number 									{ font-size: 22px; font-weight: bold; margin-top: 10px; }
		@media (max-width: $breakpoint-alpha) {
			.amount 									{ display: none; }
			tr {
				& 										{ position: relative; display: block; margin-bottom: 15px; }
				& > td 									{ padding: 5px 0; }
				.remove 								{ position: absolute; top: 0; right: 0; }
				&:last-child 							{ border-top: 1px solid #ccc; }
			}
		}
	}

	.order {
		& 												{ background: #f2f2f2; padding: 20px; }
		.head 											{ margin-bottom: 30px; }
		form {
			& 											{ margin: 0 15px; margin-bottom: 15px; }
			.label 										{ padding: 13px 0; }
			.field 										{ margin-bottom: 10px; }
			input 										{ width: 100%; padding: 10px; border: 1px solid #b3b3b3; }
			.required {
				& 										{ position: relative; }
				.star 									{ position: absolute; top: 0; right: -15px; color: #cfcfcf; font-size: 18px; }
			}
			select 										{ border: 1px solid #b3b3b3; padding: 9px; width: 100%; }
			.legend 									{ font-size: 12px; margin-top: 10px; line-height: normal; }
		}
		.actions {
			& 											{ text-align: center; }
			a 											{ text-transform: none; margin-right: 30px; }
			a.send 										{ background: #1c7c6c; color: #fff; }
			a:last-child 								{ margin-right: 0; }
			@media (max-width: 568px) {
				a 										{ margin: 15px !important; }
			}
		}
	}
}

.news {
	.item {
		& 												{ margin-bottom: 45px; }
		.title a 										{ color: #000; }
	}
	.article {
		& 												{ padding: 40px 0; }
		.title 											{ text-decoration: none; margin-top: 0; }
		.img 											{ width: 100%; height: 300px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-bottom: 15px; }
		.content {
			p 											{ padding: 15px 0; }
		}
	}
	.title 												{ margin-bottom: 10px; }
	.date 												{ color: #929191; margin-bottom: 20px; }
}

#toTop {
	& 													{ background: #fff; position: fixed; bottom: 30px; right: 34px; cursor: pointer; display: none; font-size: 44px; color: #394a47; opacity: 0.9; transition: $transitionSpeed; border: 1px solid #394a47; border-radius: 56px; padding: 0 10px 4px 10px; }
	&:hover 											{ opacity: 1; transition: $transitionSpeed; }
	@media screen and ( max-width: 960px ) {
		& 												{ display: none; }
	}
}

.footer 												{ margin-top: -$footerHeight; }
.footer-reserved 										{ height: $footerHeight; }

.callback-popup {
	& 													{ width: 300px; }
	.body {
		& 												{ margin-top: 30px; line-height: normal; }
		form {
			.item {
				& 										{ margin: 15px 0; }
				label, input 							{ display: block; width: 100%; }
				input 									{ font-size: 13px; padding: 8px 8px 6px;	border: 1px solid #b3b3b3; }
				label 									{ padding-bottom: 10px; }
			}
		}
		.btn 											{ font-size: 14px; margin-top: 15px; }
	}
}

.white-popup {
	.head 												{ font-size: 20px; font-weight: bold; }
}